@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --foreground: 200 50% 3%;
    --primary: 217, 91%, 50%;
    --primary-hover: 217, 91%, 55%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --foreground: 200 20% 96%;
      --primary: 217, 91%, 50%;
      --primary-hover: 217, 91%, 55%;
    }
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}